// general style
body {
    background: #ffffff !important;
    margin: 0 !important;
}


.MuiBadge-colorSecondary {
    background-color: #f2c94c !important;
}

.create-plot-map-container{
    width: auto;
    height: 72vh;
}

.activityTableSectionFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    height: 44px;
    padding-left: 30px;
    padding-top: 5px;
}

