.treelogo {
    margin-right: 20px;
}

.menuItems {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
}

.MuiSelect-icon {
    color: #6fcf97;
}

.MuiSelect-nativeInput {
    border-bottom: none !important;
}

.navigation {
    height: 42px;
    width: 100%;
    background-color: gray !important;
    display: flex;
    flex-direction: row;
}
